dialog {
  max-height: calc(100vh - 4rem);
  padding: 0;

  &[open] { display: flex; }
  flex-flow: column nowrap;
  align-items: stretch;
  overflow-y: hidden;

  border: none;
  border-radius: 1em;

  user-select: none;
  -webkit-user-select: none;
}
dialog.large {
  max-width: 1440px;
  width: calc(100% - 6rem);
  max-height: 900px;
  height: calc(100% - 6rem);
}
.dialog-header {
  padding: 2em 2em 1em;
}
.dialog-header-title {
  font-weight: 600;
  font-size: 1.25em;
}
.dialog-body {
  padding: .5em 2em;

  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}
.dialog-footer {
  padding: 1em 2em 2em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.dialog-footer-controls {
  display: flex;
  flex-flow: row nowrap;
  gap: .5em;
  align-items: stretch;
}

.selectable-list {
  margin: 0;
  padding: 0;

  overflow-y: auto;

  list-style-type: none;

  & > li {
    padding: .5rem;

    display: block;

    border-radius: .5rem;

    &.active {
      background-color: #00000020;
    }
  }
}

fieldset {
  position: relative;
  margin: 1.5em 0 0;
  padding: 0;

  background-color: #F0F0F0;
  border: none;
  border-radius: 1rem;

  & + fieldset {margin-top: 3em;}
}
legend {
  position: absolute;
  top: -1.5em;
  margin: 0;
  padding: 0;
  padding-left: 1em;

  color: #808080;
}
.field-row {
  padding: 1em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid gray;
  }

  & :first-child {
    flex-grow: 1;
  }
}

input[type="checkbox"][role="switch"] {
  position: relative;
  width: 2em;
  height: 1em;
  
  background-color: lightgray;
  border-radius: .5em;
  appearance: none;

  &:checked {background-color: #007FFF;}

  &::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;
    height: calc(100% - 2px);
    width: calc(70% - 2px);

    background-color: white;
    border-radius: .5em;

    transition: left .2s;
  }
  &:checked:before {
    left: calc(30% + 1px);
  }
}