* {
  box-sizing: border-box;
}
:root {
  font-family: Pretendard, 'Source Han Sans K', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;

  --keyboardarea-background-color: #444;
  --key-background-color: white;
  --key-color: black;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
header {
  display: flex;
  flex-flow: row nowrap;

  user-select: none;
}
h1 {
  margin: .5rem;
  font-size: 1.25rem;
}
[role="toolbar"] {
  flex-grow: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: stretch;
}
button {
  font: inherit;

  -webkit-user-select: none;
  user-select: none;
}
input {
  font: inherit;
}
select {
  font: inherit;
}
aside {
  overflow-y: auto;
}
#processedText {
  padding: 1em;

  background-color: #EEE;
  
  font-size: 1.5em;
  line-height: 1.5;
  
  word-break: break-word;
  white-space-collapse: break-spaces;

  user-select: none;

  transition: background-color .2s;

  &:focus {
    outline: none;
    background-color: #DDD;
  }
}
.caret {
  margin-inline: -1px;

  background-color: rgba(0, 0, 255, 0.2);
  border: 0px solid blue;
  border-inline-start-width: 1px;
  border-inline-end-width: 1px;
}
#processedText:focus .caret {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    border-color: blue;
  }
  20% {
    border-color: blue;
  }
  50% {
    border-color: transparent;
  }
  70% {
    border-color: transparent;
  }
  100% {
    border-color: blue;
  }
}
.caret.toRight {
  border-inline-start-width: 0px;
}
.caret.toLeft {
  border-inline-end-width: 0px;
}
.composing {
  border-block-end: 1px solid blue;
}
#keyField {
  font-family: monospace;
  font-weight: 300;
  font-size: .8em;
}

main {
  padding-block: .5em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: .5em;

  background-color: var(--keyboardarea-background-color);
  color: white;

  & [role="tabpanel"] {
    flex-grow: 1;
    padding-block: 2em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}