* {
  box-sizing: border-box;
}
:root {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;

  --keyboardarea-background-color: #444;
  --key-background-color: white;
  --key-color: black;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
header {
  display: flex;
  flex-flow: row nowrap;

  user-select: none;
}
h1 {
  margin: .5rem;
  font-size: 1.25rem;
}
[role="toolbar"] {
  flex-grow: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: stretch;
}
button {
  font: inherit;

  -webkit-user-select: none;
  user-select: none;
}
select {
  font: inherit;
}
aside {
  overflow-y: auto;
}
#processedText {
  padding: 1em;

  background-color: #EEE;
  
  font-family: 'Source Han Sans KR', 'Source Han Sans', 'Source Han Sans TC', 'Source Han Sans SC', 'Source Sans';
  font-weight: 350;
  font-size: 1.5em;
  line-height: 1.5;
  
  word-break: break-word;
  white-space-collapse: break-spaces;
}
.caret {
  margin-inline: -1px;

  background-color: rgba(0, 0, 255, 0.2);
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}
.composing {
  border-bottom: 1px solid blue;
}
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;

  background-color: var(--keyboardarea-background-color);
  color: white;

  & [role="tabpanel"] {
    flex-grow: 1;
    padding-block: 2em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
.keyrow {
  height: 4em;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  &:first-child {
    display: none;
  }
}
.keycell-2fr {
  width: 2em;
}
.keycell-3fr {
  width: 3em;
}
.keycell-4fr {
  width: 4em;
}
.keycell-5fr {
  width: 5em;
}
.keycell-6fr {
  width: 6em;
}
.keycell-7fr {
  width: 7em;
}
.keycell-8fr {
  width: 8em;
}
.keycell-9fr {
  width: 9em;
}
.keycell-11fr {
  width: 11em;
}
@media (max-width: 1199px) {
  :root {
    font-size: 14px;
  }
  [role="tablist"] {
    flex-flow: row wrap !important;
  }
  main [role="tabpanel"] {
    padding-block: .5em;
  }
  .keyboard {
    max-width: 100% !important;
  }
  .keycell-2fr {
    width: calc(100% / 60 * 2);
  }
  .keycell-3fr {
    width: calc(100% / 60 * 3);
  }
  .keycell-4fr {
    width: calc(100% / 60 * 4);
  }
  .keycell-5fr {
    width: calc(100% / 60 * 5);
  }
  .keycell-6fr {
    width: calc(100% / 60 * 6);
  }
  .keycell-7fr {
    width: calc(100% / 60 * 7);
  }
  .keycell-8fr {
    width: calc(100% / 60 * 8);
  }
  .keycell-9fr {
    width: calc(100% / 60 * 9);
  }
  .keycell-11fr {
    width: calc(100% / 60 * 11);
  }
  .key {
    margin: 1px !important;
    padding: .15em !important;
  }
  #macANSI,
  #macISO,
  #macJIS {
    & .keycell-2fr {
      width: calc(100% / 58 * 2);
    }
    & .keycell-3fr {
      width: calc(100% / 58 * 3);
    }
    & .keycell-4fr {
      width: calc(100% / 58 * 4);
    }
    & .keycell-5fr {
      width: calc(100% / 58 * 5);
    }
    & .keycell-6fr {
      width: calc(100% / 58 * 6);
    }
    & .keycell-7fr {
      width: calc(100% / 58 * 7);
    }
    & .keycell-8fr {
      width: calc(100% / 58 * 8);
    }
    & .keycell-9fr {
      width: calc(100% / 58 * 9);
    }
    & .keycell-11fr {
      width: calc(100% / 58 * 11);
    }
  }
}
.keycell-space {
  flex: 8em 1 0;
}
.key {
  margin: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  padding: .25em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: .25em;

  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;

  background-color: var(--key-background-color);
  border: 1px solid white;
  border-radius: .5em;

  text-align: center;
  line-height: 1;
  color: var(--key-color);

  -webkit-user-select: none;
  user-select: none;
  cursor: default;

  transition: background-color .2s, border-color .2s, color .2s;

  &:hover,
  &.pressed {
    background-color: color-mix(in srgb, var(--key-background-color), transparent 20%);

    &:active {
      background-color: color-mix(in srgb, var(--key-background-color), transparent 40%);
    }
  }

  & span {
    font-size: 1.25em;
  }
}
.key.longReturn {
  position: relative;

  overflow: visible;

  border-bottom-right-radius: 0;

  &::after {
    content: '';

    position: absolute;
    right: -1px;
    width: calc(100% - 1em);
    height: 4em;
    top: calc(4em - 6px);

    display: block;

    background-color: inherit;
    border: 1px solid white;
    border-top: none;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
  }
}
.key.largeReturn {
  position: relative;

  overflow: visible;

  border-top-right-radius: 0;

  &::before {
    content: '';

    position: absolute;
    right: -1px;
    top: calc(-4em - 1px);
    width: calc(100% - 3em);
    height: 4em;
    
    display: block;

    background-color: inherit;
    border: 1px solid white;
    border-bottom: none;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
  }
}
.key.singleLabel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.key.centerLeftLabel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
.key.centerRightLabel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: end;
}
.key.bottomLeftLabel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: end;
}
.key.bottomRightLabel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: end;
}
.key.macModifierLeft {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
}
.key.macModifierRight {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: end;
}
.key.macModifierLeft :nth-child(2),
.key.macModifierRight :nth-child(2) {
  font-size: .9em;
}
#macANSI,
#macISO,
#macJIS {
  & .keyboard {
    max-width: 58em;
  }
}
#winANSI,
#winISO,
#winABNT,
#winKS,
#winJIS {
  & .keyboard {
    max-width: 60em;
  }
}
[role="tablist"] {
  padding-top: .25em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 1px;

  background-color: white;

  & * {
    flex-shrink: 0;
  }
}
[role="tab"] {
  position: relative;
  padding: .25em .5em;

  appearance: none;
  background-color: transparent;
  border: none;

  color: black;

  &:not(:first-child):not(.active)::before {
    content: '';

    position: absolute;
    top: 25%;
    left: -1px;
    width: 1px;
    height: 50%;

    display: block;

    background-color: gray;
  }

  &.active {
    background-color: var(--keyboardarea-background-color);
    color: white;

    & + [role="tab"]:before {
      display: none;
    }
  }
}
[role="tabpanel"][hidden] {
  display: none !important;
}

dialog {
  max-height: calc(100vh - 4rem);
  padding: 0;

  &[open] { display: flex; }
  flex-flow: column nowrap;
  align-items: stretch;
  overflow-y: hidden;

  border: none;
  border-radius: 1em;

  user-select: none;
}
.dialog-header {
  padding: 2em 2em 1em;
}
.dialog-header-title {
  font-weight: 600;
  font-size: 1.25em;
}
.dialog-body {
  padding: .5em 2em;

  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}
.dialog-footer {
  padding: 1em 2em 2em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.dialog-footer-controls {
  display: flex;
  flex-flow: row nowrap;
  gap: .5em;
  align-items: stretch;
}